  <header id="page-header">
    <div id="masthead">
      <h1><%= link_to 'Stories', root_path %></h1>
      <nav>
        <p>
          <% if current_user %>
            <%= current_user.name %>
            <%= link_to "Account Settings", current_user, class: 'button' %>
            <%= link_to 'Sign Out', session_path, method: :delete, class: 'button' %>
          <% else %>
            <%= link_to 'Sign Up', signup_path, class: 'button' %>
            <%= link_to 'Sign In', new_session_path, class: 'button' %>
          <% end %>
        </p>
      </nav>
    </div>
  </header>
