<!DOCTYPE html>
<html>
<head>
  <title>JellySoup</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <meta name="google-site-verification" content="Al5whzRON0PnHXZH1DODV2oCpris-s4nw84dne5NSjQ" />
</head>

<body>
  <%= render "layouts/header" %>

  <div id="wrapper">

    <%= render "layouts/flashes" %>

    <div id="container">
      <section id="sidebar">
        <%= render "layouts/sidebar" %>
      </section>
      <section id="content">
        <%= yield %>
      </section>
    </div>

  </div>

  <%= render "layouts/footer" %>
</body>
</html>
